html,
body {
    background-color: rgb(77, 74, 97);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.box-produto{
    width: 15%;
    display: inline-flex;
    background-color: rgb(100, 96, 129);
    border: solid 1px rgba(0, 0, 0, 0.383);
    margin: 10px;
}
